<!DOCTYPE html>
<html>

<head>
  <title>Star Wars People</title>
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/base.css" />
  <link rel="stylesheet" href="/css/theme.css" />
  <link rel="stylesheet" href="/css/layout.css" />
  <link rel="stylesheet" href="/css/module.css" />
  <link rel="stylesheet" href="/css/state.css" />
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.3/handlebars.min.js"></script>
  <script id="character_template" type="text/x-handlebars-template">
    <div class="character">
      <header>
        <h2> charName </h2>
      </header>
      <span> charLikes || 0 </span>
      <button>Upvote</button>
    </div>
  </script>
</head>
